.expense-form{
     
    align-items: center;
    border: 1px solid #e70f0f;
    background-color: #def50d;
    color: mintcream;
    border-radius: 12px;
    justify-content: center;
    
    };
    